body {
    background-color: azure;
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

.sidebar {
    background-color: #333;
    color: green;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar hidden by default */
    height: 100%;
    overflow: auto;
    transition: 0.3s;
}

.sidebar.active {
    left: 0; /* Show sidebar when active class is applied */
}

.menu-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px; /* Menambahkan ukuran font */
    cursor: pointer;
    z-index: 1;
}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex; /* Menggunakan flexbox untuk tata letak */
    flex-wrap: nowrap; /* Mencegah wrapping ke baris baru */
    overflow-x: auto; /* Memberikan horizontal scroll jika terlalu banyak lagu */
}

.sidebar ul {
	margin-top: 50px;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}